<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/style.scss">
  </head>
  <body>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="news.asp">News</a></li>
        <li><a href="about.html">About</a></li>
      </ul>
      <h1><%= htmlWebpackPlugin.options.title %></h1>
      <p>I study at FH Campus yey :D</p>
  </body>   
</html>